<div >
    <div class="triangle">
        <!-- <div class='menu-corner'></div> -->
        <mat-icon class="icon-menu" [matMenuTriggerFor]="menu">menu</mat-icon>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>
                <mat-icon>login</mat-icon>
                <span>Login</span>
            </button>
            <button mat-menu-item (click)="navigateMenu('cube')" >
                <mat-icon>details</mat-icon>
                <span>Cube list</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
        </mat-menu>    
    </div>
   
</div>
