.menu-corner
{
    text-align: right;
    
    
}
.triangle{
	width: 0;
    height: 0;
    /* border-top: 65px solid #2dd5c4;
    border-left: 65px solid transpare   */
	border-width: 0 65px 65px 0;
	border-color: transparent #2dd5c4 transparent transparent;
    border-style: solid;
    position: relative;
}
.icon-menu{
    position:absolute;
    cursor: pointer;
    left:34px;
    top:3px;
    
}
.mat-icon{
    /* border: 1px solid red; */
    width:30px;
    height:30px;
}

/* border-top: 100px solid red;
border-left: 100px solid transpare */